<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <title></title>
</head>

<body>

<div th:fragment="header">
    <nav>
        <ul>
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/rules}">Правила</a></li>
            <li><a th:href="@{/rating}">Рейтинг</a></li>
            <li><a th:href="@{/profile}">Профиль</a></li>
        </ul>
    </nav>

    <div class="userBlock">
        <p id="username"><span sec:authentication="name"></span></p>
        <a style="margin-left: 5px" th:href="@{/logout}">[Выйти]</a>
    </div>
</div>

</body>
</html>