<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/index.css}">
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <title>Быки и коровы - Главная</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="numberOfMovesBlock">
    <p>Попыток: </p>
    <p id="attemptsLabel">0</p>
</div>

<div class="leftBlock">
    <div class="pinBlock">
        <div class="pin" id="pin1">•</div>
        <div class="pin" id="pin2">•</div>
        <div class="pin" id="pin3">•</div>
        <div class="pin" id="pin4">•</div>
    </div>

    <p class="inputNumberLabel">Введите число:</p>

    <table class="numberButtons">
        <tr>
            <td><a id="number1" onclick="inputNumber(1)">1</a></td>
            <td><a id="number2" onclick="inputNumber(2)">2</a></td>
            <td><a id="number3" onclick="inputNumber(3)">3</a></td>
        </tr>
        <tr>
            <td><a id="number4" onclick="inputNumber(4)">4</a></td>
            <td><a id="number5" onclick="inputNumber(5)">5</a></td>
            <td><a id="number6" onclick="inputNumber(6)">6</a></td>
        </tr>
        <tr>
            <td><a id="number7" onclick="inputNumber(7)">7</a></td>
            <td><a id="number8" onclick="inputNumber(8)">8</a></td>
            <td><a id="number9" onclick="inputNumber(9)">9</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a id="number0" onclick="inputNumber(0)">0</a></td>
            <td><a onclick="removeNumber()"><</a></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><a id="sendButton" onclick="makeAttempt()">Отправить</a></td>
        </tr>
    </table>
</div>

<div class="rightBlock">
    <p>История ходов:</p>
    <br>
    <div class="history">
        <p>Игра начата</p>
        <p>Компьютер загадал число</p>
    </div>
</div>

<script th:inline="javascript">
    /** Цифры, введённые пользователем */
    var numbers = [];
    /** Количество совершенных попыток */
    var attempts = 0;
    /** Закончена ли игра */
    var isGameFinished = false;

    /** Предупреждение о выходе из игры */
    $(window).bind('beforeunload', function(){
        if (attempts > 0 && !isGameFinished) return 'Вы действительно хотите покинуть игру?';
    });

    /**
     * Нажатие на цифру
     * @param x нажатая цифра
     */
    function inputNumber(x) {
        // Если введено меньше 4 цифр, заблокировать нажатую цифру и добавить ее к числу пользователя
        if (numbers.length < 4) {
            numbers.push(x);
            $("#pin" + numbers.length).text(x);
            $("#number" + x).css("pointer-events", "none").fadeTo("fast", 0.2);
        }
        // Если введены все 4 цифры, разблокировать кнопку отправки
        if (numbers.length === 4) {
            $("#sendButton").css("pointer-events", "auto").fadeTo("fast", 1.0);
        }
    }

    /**
     * Нажатие на кнопку "стереть"
     */
    function removeNumber() {
        // Если введена хотя-бы одна цифра, удалить последнюю цифру из числа и разблокировать её кнопку
        if (numbers.length > 0) {
            $("#pin" + numbers.length).text("•");
            $("#number" + numbers.pop()).css("pointer-events", "auto").fadeTo("fast", 1.0);
            $("#sendButton").css("pointer-events", "none").fadeTo("fast", 0.5);
        }
    }

    /**
     * Отправить попытку угадать число
     */
    function makeAttempt() {
        $.ajax({
            url: location.href + "makeAttempt",
            data: {"numbers[]": numbers},
            success: function(response) {
                attempts++;
                $('#attemptsLabel').text(attempts);
                // Отобразить ход в логе
                $('.history').prepend('<p>' +
                    numbers[0] + numbers[1] + numbers[2] + numbers[3] + ' - ' +
                    response.first + 'Б, ' + response.second + 'К</p>');
                // Сбросить интерфейс набора числа
                removeNumber();
                removeNumber();
                removeNumber();
                removeNumber();
                // Если число угадано, завершить игру
                if (response.first === 4) congratulation();
            },
            error: function() {
                alert('Произошла непредвиденная ошибка');
            }
        });
    }

    /**
     * Завершение игры
     */
    function congratulation() {
        isGameFinished = true;
        alert('Вы угадали число! Количество попыток: ' + attempts + '.');
        window.location.href = confirm('Начать новую игру?') ? "/" : "/rating";
    }
</script>

</body>
</html>