<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/rules.css}">
    <title>Быки и коровы - Об игре</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="aboutBlockHeader">
    <p>Об игре:</p>
</div>

<div class="aboutBlock">
    <p>Быки и коровы — логическая игра, в ходе которой за несколько попыток один из игроков должен определить, что
        задумал другой игрок.</p>
    <p>После каждой попытки задумавший игрок выставляет «оценку», указывая количество угаданного без совпадения с
        их позициями (количество «коров») и полных совпадений (количество «быков»).</p>
    <p>Роли участников игры не равнозначны — угадывающий должен анализировать сделанные попытки и полученные оценки,
        то есть его роль активна. Его партнёр лишь сравнивает очередной вариант с задуманным и выставляет оценку по
        формальным правилам, то есть его роль пассивна.</p>
    <p>Первоначально игра была задумана для двух игроков, но с появлением компьютерных версий стал популярен вариант,
        когда игрок отгадывает число, задуманное программой, то есть играет в одиночку. </p>
    <p></p>
    <p></p>
</div>

<div class="rulesBlockHeader">
    <p>Правила игры:</p>
</div>

<div class="rulesBlock">
    <p>Компьютер загадывает 4-х значное число. Цифры загаданного числа не повторяются.</p>
    <p>Ваша задача угадать это число. Не беспокойтесь, у вас для этого есть неограниченное число попыток.</p>
    <p> В каждую попытку вы даёте компьютеру свой вариант числа. Компьютер же сообщает сколько цифр точно
        угадано (бык) и сколько цифр угадано без учета позиции (корова).</p>
    <p>По ответам компьютера вы должны угадать загаданное им число за несколько попыток.</p>
</div>

</body>
</html>